@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-color: #04b8f4;
  --primary-color-light: #b7edff;
  --secondary-color: #6e7881;


  --button-primary-color: var(--primary-color);
  --button-primary-active-color: #16afe3;


  --button-secondary-color: var(--secondary-color);
  --button-secondary-active-color: #555b60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-primary {
  background-color: var(--primary-color);
}

.btn {
  @apply px-5 py-2 rounded
}

.btn-primary {
  @apply text-white bg-[var(--button-primary-color)] active:bg-[var(--button-primary-active-color)]
}

.btn-secondary {
  @apply text-white bg-[var(--button-secondary-color)] active:bg-[var(--button-secondary-active-color)]
}

.label {
  @apply block text-sm font-medium leading-6 text-gray-900
}

.input {
  @apply block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[var(--primary-color)] sm:text-sm sm:leading-6 outline-none px-4 py-2.5
}

.helper-error {
  @apply text-xs text-red-400 mt-1 font-normal
}

.form-group {
  @apply mb-4
}

.class:focus { overflow: hidden; }

div:where(.swal2-container) button:where(.swal2-styled).swal2-default-outline:focus {
  outline: none !important;
  box-shadow: none !important;
}


/* ::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-left: 2px;
}

::-webkit-scrollbar-thumb {
  background: #AAA;
  border-radius: 10px;
}

::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
  margin-left: 2px;
}

::-moz-scrollbar-thumb {
  background: #AAA;
  border-radius: 10px;
} */

.sale-product-report .mini-boxes {
  display: flex;
  justify-content: space-between;
}
